.contents
  = render 'articles/side_bar'
  
  .concepts
    .title
      Goodluck
    .message
      Remember when I told you
      "No matter where I go
      I'll never leave your side
      You will never be alone"
      Even when we go through changes
      Even when we're old
      Remember that I told you
      I'll find my way back home