.contents
  .side-bar
    - @countries.each do |country|
      .link
        = link_to country_articles_path(country) ,class: "font" do
          = country.name

  .concepts
    .title
      Goodluck!!
    .message
      旅の思い出を共有しよう！
