.header {
  position: fixed;
  height: 80px;
  background-color: rgba(226, 226, 243, 0.2);
  display: flex;
  width: 100%;
  .welcome {
    font-size: 50px;
    margin: 10px;
    .welcome-path {
      font-family: 'Nightshade';
      text-decoration: none;
      color: rgb(250, 251, 252);
    }
  }
  h1 {
    font-size: 25px;
    font-family: 'arial unicode ms';
    margin: auto auto 5px 20px;
    color: rgb(250, 251, 252);
  }
  .right-block {
    display: flex;
    margin: 0 0 0 auto;
    .new-link, .user-logout-link, .user-login-link, .user-dignup-link {
      font-size: 50px;
      margin: 10px;
      .new-article-path, .logout-path, .login-path, .signup-path {
        font-family: 'Nightshade';
        text-decoration: none;
        color: rgb(191, 223, 255);
      }
    }
  }
}
