.header {
  position: fixed;
  height: 70px;
  background-color: rgb(213, 236, 255);
  width: 100%;
  z-index: 1;
  .header-details {
    padding: 0 25px;
    display: flex;
    .welcome {
      font-size: 50px;
      .welcome-path {
        font-family: 'Sketch';
        text-decoration: none;
        color: #1b0a6e;
      }
    }
    .user-name {
      font-size: 25px;
      font-family: 'arial unicode ms';
      padding: 25px 0 0 10px;
      color: #1b0a6e;
    }
    .right-block {
      display: flex;
      margin: 0 0 0 auto;
      .mypage-link, .new-link, .user-logout-link, .user-login-link, .user-dignup-link {
        font-family: 'arial unicode ms';
        font-size: 25px;
        margin: auto auto 10px 20px;
        .mypage-path, .new-article-path, .logout-path, .login-path, .signup-path {
          text-decoration: none;
          color: #1b0a6e;
        }
      }
    }
  }
}
