.form {
  .form-box {
    margin-top: 100px;
    margin-left: 200px;
    height: 500px;
    #article_title {
      margin: 10px;
      width:400px;
      height: 30px;
    }
    #article_text {
      margin: 10px;
      width:400px;
      height: 200px;
    }
  }
}

@import "variable";
@import "reset";
@import "font-awesome";
@import "tops";
@import "users";
@import "articles";
@import "article/new";
@import "header";

@font-face{
  font-family: "Nightshade";
  src: url('Rushing Nightshade DEMO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}