@import "reset";
@import "font-awesome";
@import "tops";
@import "users";
@import "article/new";
@import "article/index";
@import "article/user_articles";
@import "header";

@font-face{
  font-family: "Daniels";
  src: url('Daniels Signature DEMO.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Sketch";
  src: url('Sketch Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
