.side-bar {
  box-sizing: border-box;
  width: 300px;
  color: white;
  float: left;
  height: 100%;
  .header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    &__user-name {
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      display: inline-block;
    }
    &__menu {
      display: flex;
      float: right;
      .icon {
        color: white;
        margin-left: 0.3rem;
      }
    }
  }
}